.idea
target
.classpath
.project
.settings
.cache*
**/bin
**/.tmpBin
local.*
spill_test.db
Bug.scala
*.gz
spill-jdbc/io/
spill-sql/io/
MyTest.scala
MySparkTest.scala
MyTestJdbc.scala
spill-core/src/main/resources/logback.xml
spill-jdbc/src/main/resources/logback.xml
